.nav {
  height: 5rem;
  background-color: #ff6600;
}

.logo {
  width: 200px;
  padding: 1rem 3rem;
}

.newsWrapper {
  display: grid;
  grid-template-columns:60% 15%  auto auto auto ;
  list-style-type: none;
  background-color: #ff6600;
}

.newsLine {
  display: grid;
  grid-template-columns:60% 15% auto  auto auto auto ;
  list-style-type: none;
  background-color: #ff6600;
}
table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  background: lightgreen;
}

th, td {
  text-align: left;
  padding: 1rem;

}

/*.newsLine {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  background-color: #ff6600;*/
/*}*/
/*.newsLine {*/
/*  display: grid;*/
/*  background-color: #ff6600;*/
/*}*/

.newsLineInfo {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}