
body {
  background: #f1f1f1;
  margin: 0 auto;
}

.newsContainer {
}

.newsInfo {
  margin-left: 3rem;
}

.newsTitle {
  font-size: 1.7rem;
}

.navWrapper {
  height: 5rem;
  background-color: #ff6600;

  .navContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    .logo {
      width: 200px;
      padding: 1rem 3rem;
      max-height: 50px;
    }
    button {
      max-height: 50px;

    }
  }


}


.newsWrapper {
  display: grid;
  grid-template-columns:60% 15%  auto auto auto;
  list-style-type: none;
  background-color: #ff6600;
}

.newsLine {
  display: grid;
  grid-template-columns:60% 15% auto  auto auto auto;
  list-style-type: none;
  background-color: #ff6600;
}

ul {
  display: flex;
}


a {
  text-decoration: none;
  color: black;
}


.newsLineInfo {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}

.author {
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
  color: crimson;
}

span {
}

ol {
  list-style: none;
  counter-reset: item;
  text-indent: -25px;
  margin-left: 26px;

}

li {
  counter-increment: item;
  margin-bottom: 5px;


}

li:before {
  margin-right: 20px;

  font-size: 1.2rem;
  /*margin-right: 50px;*/
  content: counter(item);
  /*background: green;*/
  color: lightgrey;
  text-align: left;
  display: inline-block;
}


.singlePageWrapper {
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  margin: 1rem;
  height: 78vh;
}

.buttonBloc {
  display: flex;
  padding: 1rem;
  align-items: center;
  cursor: pointer;
}